table {
    position: absolute;
    top: 38px;
    left: 130px;
    border-collapse: collapse;
}

th {
    background-color: rgb(126, 173, 201);
    font-weight: bold;
    width: 100px;
    position: fixed;
    margin-top: -38px;
    margin-left: -130px;
}

td, th {
    text-align: center;
    padding: 10px 15px;
}

tr:first-child {
    background-color: rgb(126, 173, 201);
    font-weight: bold;
    position: fixed;
    margin-top: -38px;
}

tr:nth-child(even) {
    background-color: rgb(207, 205, 205);
}

td {
    min-width: 100px;
}